@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <ul id="products">
        @foreach (var product in Model)
        {
            <li>
                 <h3>@product.Name - @product.Price TL</h3>
            </li>
        }
   </ul>
   
</div>
